
 .search-icon {
    margin-top: 0.6%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 15px;
    color: rgb(124, 107, 107);
}

.list-item{
    width: 100%;
}
.anchor{
    width: 100%;
}
.list-item-inner-container{
    display: flex;
    width: 100%;
}