.list{
    width: 42%;
    margin: auto;
    background-color: white;
    padding: 0%;
    max-height: 50vh;
    overflow-y: scroll;
}
.list-item-container{
    padding: 0%;
    height: 5%;
}


.ant-list .ant-list-item {
    margin-top: 0%;
    padding: 0%;
    height: 40px;
}

.ant-list {
    margin-top: 0%;
    border-bottom-left-radius: 25px;
}


::-webkit-scrollbar {
    display: none;
}

.ant-list-item:hover {
    box-shadow: 0 0 4px #eee;
    background-color: rgb(212, 224, 224);
  }

  @media only screen and (max-width: 1024px) {
    .list{
        width: 80%;
        margin: auto;
        background-color: white;
        padding: 0%;
        max-height: 90vh;
        overflow-y: scroll;
    }
 }